/* Denna fil skall innehålla din CSS kod */
#landingpage-wrapper {
    display: grid;
    background-color: #b58b63;
    height: 100vh;
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 20% 1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "v3 v4"
    "v3 v6"
    "v3 v6"
    "v7 v6";
}

.panel {
    margin: 5px;
    overflow: hidden;
    border-radius: 40px;
    border: solid #f6efe8;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0.3);
}

.topbox {
    display: flex;
    overflow: hidden;
    border: solid #f6efe8;
    background-color: #a5b58d;
    text-align: center;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

.index-text {
    color: #f6efe8;
    font-size: 1.8rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.header {
    display: grid;
    text-align: center;
    width: 100%;
    margin-top: 0;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "home meny about_us";
}
#home{grid-area: home;}
#meny{grid-area: meny;}
#about_us{grid-area: about_us;}

#v3, #v6, #v7 {
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    font-size: 2.5rem;
}

#v3 {background-image: url("../img/coffee-shop-desk.jpg"); grid-area: v3;}

#v4 {
    display: flex;
    position: relative;
    grid-area: v4;
    justify-content: center;
    text-align: center;
    background-color: #a5b58d;
    align-items: center;
    padding-left: 15%;
}
#logobox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: -35%;
    transform: translateY(-50%);
}
#logo{
    width: 100%;
    height: 100%;
    background-image: url(/img/logotyp.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#v6 {background-image: url("../img/breadloaf.jpg");grid-area: v6;}
#v7 {background-image: url("../img/bagels.jpg");grid-area: v7;}



/*css till meny här under*/
.menywrapper {
    display: grid;
    background-color: #a5b58d;
    height: 90vh;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-decoration: transparent;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 1fr 0.1fr;
    grid-template-areas: 
    "menyheader"
    "over"
    "under"
    "info";
}

#menyheader {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #b58b63;
    margin-top: 0;
    grid-area: menyheader;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "home meny about_us"
}

.menytopbox,
.omosstopbox {
    height: 100%;
    box-sizing: border-box;
}

.menytopbox {
    display: flex;
    overflow: hidden;
    border: solid #f6efe8;
    background-color: #b58b63;
    text-align: center;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.menyöver {
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
    flex-basis: auto;
    grid-area: over;
}

.menyunder {
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
    flex-basis: auto;
    grid-area: under;
}

.card:hover {
    transform: scale(1.1);
}

.card {
    position: relative;
    height: 80%;
    flex-grow: 1;
    flex-basis: 0;
    background: #b58b63;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease;
    border: 2px solid #f6efe8;
    background-image: var(--bg);
}

.veganskt {
    border: 4px solid #b58b63;
}

.badge {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
    color:#f6efe8;
}

.card-text {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #f6efe8;
    font-size: 1.3rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.card:hover .card-text {
    opacity: 1;
}

#m1 { --bg: url("/img/spaghettibolognese.jpg")}
#m2 { --bg: url("/img/vasterbottenpaj.jpg")}
#m3 { --bg: url("/img/lemonade.jpg")}
#m4 { --bg: url("/img/vegan_alternative.jpg")}
#m5 { --bg: url("/img/vegan_bowl.jpg")}

#m6 { --bg: url("/img/cupcake.jpg")}
#m7 { --bg: url("/img/tiramisu.jpg")}
#m8 { --bg: url("/img/toast.jpg")}
#m9 { --bg: url("/img/coffee.jpg")}
#m10 { --bg: url("/img/vegan_cake.jpg" )}

.infopage {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    flex-basis: auto;
    grid-area: info;
    height: 5%;
    width: 20%;
}

.infocard {
    background-color: #b58b63;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    text-align: center;
    margin: 5px;
    margin-top: 0;
    border: 2px solid #f6efe8;
}

/*css till Om Oss sidan nedanför*/
.omosswrapper {
    display: grid;
    background-color: #f6efe8;
    height: 90vh;
    width: 100%;
    margin: 0;
    overflow-x: auto;
    gap: 2rem;
    padding-bottom: 13rem;
    text-decoration: transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 2fr 1fr 1fr;
    grid-template-areas: 
    "omossheader omossheader"
    "vision vision"
    "karta personal"
    "tider formulär";
}

.omosscard {
    height: 100%;
    background: #a5b58d;
    border: 5px solid #b58b63;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-align: center;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.omosstitle {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
    color:#f6efe8;
}

.omosstopbox {
    display: flex;
    overflow: hidden;
    border: solid #b58b63;
    background-color: #a5b58d;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#omossheader {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #b58b63;
    margin: 0;
    grid-area: omossheader;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "home meny about_us"
}

.picture {background-repeat: no-repeat; background-size: cover; background-image: var(--bg);}
.omossbrödtext {
    color: #f6efe8; 
    font-size: 1.3rem; 
    text-shadow: 0 2px 6px rgba(0,0,0,0.9);
    text-align: center;
    line-height: 1.6;
    margin: 0.15rem;
}

#personal_och_ägare .omossbrödtext {padding-top: 0.5rem}

#vision{grid-area: vision; position: relative; --bg: url("../img/our_vision.jpg")}
#karta {grid-area: karta; position: relative; --bg: url("../img/map.jpg")}
#personal_och_ägare {grid-area:personal; position: relative}
#öppettider{grid-area: tider; position: relative}
#kontaktformulär{grid-area: formulär; position: relative; margin-bottom: 1rem}