/* Denna fil skall innehålla din CSS kod */
#landingpage-wrapper {
    display: grid;
    background-color: #b58b63;
    height: 90vh;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 10% 1fr 1fr 1fr;
    grid-template-areas: 
    "m v2"
    "v3 v4"
    "v3 v6"
    "v3 v6"
    "v7 v6";
}

#meny {
/*    margin: 5px; */
    display: flex;
    grid-area: m;
    overflow: hidden;
    border: solid;
    border-color: #f6efe8;
    text-align: center;
    background-color: #a5b58d;
    margin-top: 0;
    padding: 0%;
    align-items: center;
    justify-content: center;
}

#about_us {
    display: flex;
    grid-area: v2;
    overflow: hidden;
    border: solid;
    border-color: #f6efe8;
    text-align: center;
    background-color: #a5b58d;
    margin-top: 0;
    padding: 0%;
    align-items: center;
    justify-content: center;
}

#v3 {
    margin: 5px;
    background-image: url("../img/coffee-shop-desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v3;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    margin-left: 0px;
    padding: 0%;
}

#v4 {
    display:flex;
    margin: 5px;    
    grid-area: v4;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    justify-content: center;
    text-align: center;
    padding: 0%;
    background-color: #a5b58d;
    align-items: center;
}

#v41 {
    padding: 0%
}

/* #v5 {
    margin: 5px;
    background-image: url"../img/";
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v5;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
} */

#v6 {
    margin: 5px;
    background-image: url("../img/breadloaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v6;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    filter:grayscale(0.25);
    padding: 0%;
}

#v7 {
    margin: 5px;
    background-image: url("../img/bagels.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v7;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    filter:grayscale(0.4);
    padding: 0%;
}
/*
#v8 {
    margin: 5px;
    background-image: url("../img/bröd1.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v8;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    filter:grayscale(0.25);
}
*/

/*css till meny här under*/
.menywrapper {
    display: grid;
    background-color: #a5b58d;
    height: 98vh;
    width: 100%;
    margin: 0px;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    text-decoration: transparent;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "1"
    "2";
}

.menyöver {
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    grid-area: 1;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
    text-transform: none;
}

.card {
    min-width: 200px;
    height: 80%;
    background: #b58b63;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease;
    border: 2px solid #f6efe8;
}

.card-text {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #f6efe8;
    font-size: 1.3rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.card:hover .card-text {
    opacity: 1;
}

#m1 { 
    background-image: url("/img/our\ vision.jpg"); 
    flex-grow: 1;
    color: #f6efe8;
    font-size: 1.3rem;
    max-width: 20%;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

#m2 { background-image: url("/img/västerbottenpaj.jpg"); flex-grow: 1;}
#m3 { background-image: url("/img/lemonade.jpg"); flex-grow: 1;}
#m4 { background-image: url("/img/vegan_alternative.jpg"); flex-grow: 1;}
#m5 { background-image: url("/img/vegan_bowl.jpg"); flex-grow: 1;}

.menyunder {
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    grid-area: 2;
}
#m6 { background-image: url("/img/cupcake.jpg"); flex-grow: 1;}
#m7 { background-image: url("/img/tiramisu.jpg"); flex-grow: 1;}
#m8 { background-image: url("/img/toast.jpg"); flex-grow: 1;}
#m9 { background-image: url("/img/coffee.jpg"); flex-grow: 1;}
#m10 { background-image: url("/img/vegan_cake.jpg" ); flex-grow: 1;}