/* Denna fil skall innehålla din CSS kod */
#wrapper {
    display: grid;
    background-color: #b58b63;
    height: 98vh;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "v1 v2"
    "v3 v4"
    "v3 v6"
    "v3 v6"
    "v7 v6";
}

#v1 {
/*    margin: 5px; */
    grid-area: v1;
    overflow: hidden;
    border: solid;
    border-color: #f6efe8;
    text-align: center;
    background-color: #a5b58d;
    margin-top: 0;
    max-height: 25%;
    padding: 0%;
}

#v2 {
    /* margin: 5px; */    
    grid-area: v2;
    overflow: hidden;
    border: solid;
    border-color: #f6efe8;
    text-align: center;
    background-color: #a5b58d;
    margin-top: 0;
    max-height: 25%;
    padding: 0%;
}

#v3 {
    margin: 5px;
    background-image: url("../img/Caffe-desk.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v3;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    margin-left: 0px;
    padding: 0%;
}

#v4 {
    display:flex;
    margin: 5px;    
    grid-area: v4;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    justify-content: center;
    text-align: center;
    padding: 0%;
    background-color: #a5b58d;
    align-items: center;
}

#v41 {
    padding: 0%;
    
}

/* #v5 {
    margin: 5px;
    background-image: url"../img/";
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v5;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;} */

#v6 {
    margin: 5px;
    background-image: url("../img/bröd2_small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v6;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    filter:grayscale(0.25);
    padding: 0%;
}

#v7 {
    margin: 5px;
    background-image: url("../img/bagels.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v7;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    filter:grayscale(0.4);
    padding: 0%;
}
/*
#v8 {
    margin: 5px;
    background-image: url("../img/bröd1.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: v8;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #f6efe8;
    filter:grayscale(0.25);
}
*/
