/* Denna fil skall innehålla din CSS kod */
#landingpage-wrapper {
    display: grid;
    background-color: #b58b63;
    height: 90vh;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 10% 1fr 1fr 1fr;
    grid-template-areas: 
    "m v2"
    "v3 v4"
    "v3 v6"
    "v3 v6"
    "v7 v6";
}

.panel {
    margin: 5px;
    overflow: hidden;
    border-radius: 40px;
    border: solid #f6efe8;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0.3);
}

.topbox {
    display: flex;
    overflow: hidden;
    border: solid #f6efe8;
    text-align: center;
    background-color: #a5b58d;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#meny {grid-area: m}
#about_us {grid-area: v2}

#v3 {background-image: url("../img/coffee-shop-desk.jpg"); grid-area: v3;
}

#v4 {
    display:flex;  
    grid-area: v4;
    justify-content: center;
    text-align: center;
    background-color: #a5b58d;
    align-items: center;
}
#v41 {padding: 0%}
#v6 {background-image: url("../img/breadloaf.jpg");grid-area: v6;}
#v7 {background-image: url("../img/bagels.jpg");grid-area: v7;}



/*css till meny här under*/
.menywrapper {
    display: grid;
    background-color: #a5b58d;
    height: 90vh;
    width: 98%;
    margin: 0px;
    overflow-x: auto;
    gap: 1rem;
    padding: 1%;
    text-decoration: transparent;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.1fr;
    grid-template-areas: 
    "1"
    "2"
    "3";
}

.menyöver {
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    grid-area: 1;
}

.menyunder {
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    grid-area: 2;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
    text-transform: none;
}

.card {
    position: relative;
    height: 80%;
    flex-grow: 1;
    flex-basis: 0;
    background: #b58b63;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease;
    border: 2px solid #f6efe8;
    background-image: var(--bg);
}

.veganskt {
    border: 4px solid #b58b63;
}

.badge {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
    color:#f6efe8;
}

.card-text {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #f6efe8;
    font-size: 1.3rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.card:hover .card-text {
    opacity: 1;
}

#m1 { 
    --bg: url("/img/our\ vision.jpg");
    color: #f6efe8;
    font-size: 1.3rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

#m2 { --bg: url("/img/västerbottenpaj.jpg")}
#m3 { --bg: url("/img/lemonade.jpg")}
#m4 { --bg: url("/img/vegan_alternative.jpg")}
#m5 { --bg: url("/img/vegan_bowl.jpg")}

#m6 { --bg: url("/img/cupcake.jpg")}
#m7 { --bg: url("/img/tiramisu.jpg")}
#m8 { --bg: url("/img/toast.jpg")}
#m9 { --bg: url("/img/coffee.jpg")}
#m10 { --bg: url("/img/vegan_cake.jpg" )}

.infopage {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    flex-basis: auto;
    grid-area: 3;
    height: 5%;
    width: 20%;
}

.infocard {
    background-color: #b58b63;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    text-align: center;
    margin: 5px;
    margin-top: 0;
    border: 2px solid #f6efe8;
}



/*css till om oss sidan nedanför*/
